
{% load staticfiles %}
{% load change_form %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale">
    <link rel="stylesheet" href="{% static "stark/bootstrap-3.3.7-dist/css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "stark/css/stark-form.css" %}" />
    <title>编辑页面</title>
</head>
<body>
  <div class="container">
    <h1>编辑页面</h1>
    {% form form %}
</div>
</body>
</html>
