{% extends "stark/layout.html" %}
{% block css %}
    <style>
        .list-filter a{
            display: inline-block;
            padding: 3px 6px;
            border: 1px solid #2e6da4;
            margin: 3px 0;
        }
        .list-filter a.active{
            background-color: #2e6da4;
            color: white;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
    <h1>列表页面</h1>
    <div class="list-filter">
        {% for filter_row in cl.gen_combination_filter %}
            <div>
                {% for col in filter_row %}
                    {{ col }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="form-group pull-right">
            {% if cl.show_search_form %}
                <form method="get">
                <input name={{ cl.config.serch_key }} value="{{ cl.search_form_val }}" class="form-control"
                       placeholder="请输入搜索条件" type="text" style="display:inline-block;width: 200px;"/>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </form>
             {% endif %}
        </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group pull-left">
        {% if cl.show_actions %}
            <select name="list_action" class="form-control" style="display:inline-block;width: 200px;">
                 {% for item in cl.modify_actions %}
                    <option value="{{ item.name }}">{{ item.text }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary">执行</button>
        {% endif %}
        </div>
        <div class="form-group pull-right">
            {% if cl.show_add_btn %}
                    <a class="btn btn-primary" href="{{ cl.add_url }}">添加</a>&nbsp&nbsp&nbsp&nbsp
            {% endif %}
        </div>
        <table class="table table-bordered">
        <thead>
            <tr>
            {% for head in cl.head_list %}
                <th>{{ head }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for obj in cl.body_list %}
            <tr>
                {% for col in obj %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
    <nav class="pull-right">
        <ul class="pagination">
            {{ cl.page_obj.page_html|safe }}
        </ul>
    </nav>
</div>
{% endblock %}

