<form method="post" class="form-horizontal" novalidate>
    {% csrf_token %}
    {% for dic in form %}
        <div class="col-md-8 col-lg-offset-2">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ dic.item.field.label }}:</label>
                <div class="col-md-7">
                    {{ dic.item }}
                    {% if dic.is_popup %}
                        <a onclick="popUp('{{ dic.popup_url }}')"><span class="glyphicon glyphicon-plus" style="color: green"></span></a>
                    {% endif %}
                    {{ dic.item.field.errors.0 }}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col-md-8 col-lg-offset-7">
        <input type="submit" class="btn btn-primary" value="提交">
    </div>
</form>
<script>
     function popupCallback(dic) {
        var op = document.createElement('option');
        op.value = dic.id;
        op.text = dic.text;
        op.setAttribute('selected','selected');
        document.getElementById(dic.popbackid).appendChild(op);
     }
     function popUp(url) {
        var popupPage = window.open(url, url, "status=1, height:500, width:600, toolbar=0, resizeable=0");
    }
</script>