{% extends "stark/layout.html" %}
{% block body %}
    <h1>公共客户列表</h1>
    <table border="1" class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>QQ</th>
                <th>跟进</th>
            </tr>
        </thead>
        <tbody>
            {% for row in coustomer_list %}
                <tr>
                    <th>{{ row.id }}</th>
                    <th>{{ row.name }}</th>
                    <th>{{ row.qq }}</th>
                    <th>
                        {% if row.conconsultant_id == current_user_id %}
                            <a>无权抢单</a>
                        {% else %}
                            <a href="/stark/crm/customer/{{ row.id }}/competition/">抢单</a>
                        {% endif %}
                    </th>

                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
