{% extends "stark/layout.html" %}
{% block body %}
    <h1>当前用户的客户信息</h1>
    <table class="table table-bordered">
       <thead>
            <tr>
                <th>姓名</th>
                <th>QQ</th>
{#                <th>状态</th>#}
            </tr>
       </thead>
       <tbody>
            {% for row in customer %}
                <tr>
                    <th>{{ row.customer.name }}</th>
                    <th>{{ row.customer.qq }}</th>
{#                    <th>{{ row.customer.status }}</th>#}
                </tr>
            {% endfor %}
       </tbody>
    </table>
{% endblock %}
